name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'
      - name: Build & Install
        run: mvn -B install -D skipTests --no-transfer-progress

      - name: Ensure browsers are installed
        run: mvn playwright:install

      - name: Run tests
        run: mvn test